# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.exe
*.msi
*.pdf
*.docx
*.csv
grit-grid-spark-main/
FUNDIKONNECT/
Fundiconnect/
GlamOS_Payment_System/
node_modules/
